@{
  Layout = "_Layout";
}

@using ProjectName.Models;

<h1>ClassNames1</h1>

@if (@Model.Count == 0)
{
  <h3>No classNames1 have been added yet!</h3>
} 

<ul>
  @foreach(ClassName1 className1 in Model)
  {
    <li>@Html.ActionLink($"{className1.PropertyName}", "Details", new { id = className1.ClassName1Id })</li>
  }
</ul>

<p>@Html.ActionLink("Add new className1", "Create")</p>
<p>@Html.ActionLink("Add new className2", "Create", "ClassNames2")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>