@{
  Layout = "_Layout";
}

@model ProjectName.Models.ClassName2

<h2>ClassName2 Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.PropertyName): @Html.DisplayFor(model => model.PropertyName)<h3>
<h3>@Html.DisplayNameFor(model => model.ClassName1): @Html.DisplayFor(model => model.ClassName1.PropertyName)<h3>
<h3>@Html.DisplayNameFor(model => model.PropertyName): @Html.DisplayFor(model => model.PropertyName)</h3>
<h3>@Html.DisplayNameFor(model => model.PropertyName): @Html.DisplayFor(model => model.PropertyName)</h3>

<p>@Html.ActionLink("Edit ClassName2", "Edit", new { id = Model.ClassName2Id })</p>
<p>@Html.ActionLink("Delete ClassName2", "Delete", new { id = Model.ClassName2Id })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>